<div class="userSettingContainer">
    <h1 class="userSettingLabel">Настройки пользователя</h1>
    <form>
        {{!-- <label for="first_name">Имя:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="second_name">Фамилия:</label>
        <input type="text" id="second_name" name="second_name" required>

        <label for="display_name">Отображаемое имя:</label>
        <input type="text" id="display_name" name="display_name" required>

        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Телефон:</label>
        <input type="tel" id="phone" name="phone" required> --}}
        {{{userSettingsFirstName}}}
        {{{userSettingssecondName}}}
        {{{userSettingsLogin}}}
        {{{userSettingsEmail}}}
        {{{userSettingsPassword}}}
        {{{userSettingsPhone}}}


        {{!-- <label for="avatar">Аватар:</label>
        <input type="file" id="avatar" name="avatar" accept="image/*"> --}}

{{!-- 
        <label for="oldPassword">Старый пароль:</label>
        <input type="password" id="oldPassword" name="oldPassword" required>

        <label for="newPassword">Новый пароль:</label>
        <input type="password" id="newPassword" name="newPassword" required> --}}
        {{{userSettingsOldPassword}}}
        {{{userSettingsNewPassword}}}

        {{{userSettingsButton}}}

        {{!-- <input type="submit" value="Сохранить изменения"> --}}
    </form>
</div>
