<div class="input-container">
    {{label}}
    <input
        name={{name}}
        type={{type}}
        value="{{value}}"
        class="{{classInput}}"
        placeholder="{{placeholder}}"
    />
    <p class="error {{errorLabelClass}}">{{error}}</p>
</div>
