<div class="registration-box">
    <h2>Регистрация</h2>
    <form>
        {{{registrationFirstName}}}
        {{{registrationSecondName}}}
        {{{registrationLogin}}}
        {{{registrationEmail}}}
        {{{registrationPassword}}}
        {{{registrationPhone}}}
        {{{registrationButton}}}
    </form>
</div>
